@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --chard: #c8d6e5;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0.3em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
nav a {
  color: whitesmoke;
  text-decoration: none;
}
nav a {
  font-size: 0.8rem;
}
nav li {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.3em;
}
nav li:hover {
  background-color: #2c3e50;
}
li + li {
  margin-top: 0.3rem;
}
.navbar {
  background-color: #34495e;
}

body {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  direction: rtl;
}

.cont {
  margin-right: auto;
  padding: 0 0.5rem;
  width: 80%;
  text-align: center;
}

.cont h3 {
  text-transform: capitalize;
}

#chard {
  text-align: center;
  padding: 0.3rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

canvas {
  border-radius: 1em;
  background-color: var(--chard);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
}

#infor {
  min-height: 10em;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--chard);
  border-radius: 1em;
  max-width: 30em;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.4rem;
}
small {
  margin-top: auto;
  color: lightseagreen;
  text-transform: capitalize;
}

span {
  text-transform: none;
}

.livepric {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 30em;
  min-height: 20em;
  margin: 1em auto;
  background-color: var(--chard);
  padding: 1em;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}
.section {
  display: flex;
  flex-direction: row;
}

.main {
  background-color: rgb(189, 195, 199);
  display: flex;
  justify-content: space-between;
}
.updates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.post {
  background: #34495e;
  padding: 1em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  margin: 1em;
  text-align: center;
  border-radius: 1em;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 30em;
}
.img h3 {
  background: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255, 0.7);
}
.img {
  background: url('../img/download.jpg'), rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 10em;
}
fieldset legend {
  margin-right: 1em;
  padding: 0.3em;
}
fieldset {
  margin: 1em;
  margin-right: 0;
  border-right: none;
}
